<!DOCTYPE html>
<html>
<head>
    {% block head %}

    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicons/favicon.ico') }}"
    type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='images/favicons/favicon.ico') }}"
    type="image/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/favicons/apple-touch-icon.png') }}"
    type="image/x-icon">
    <link  rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicons/favicon-32x32.png') }}"
    type="image/x-icon">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/favicons/favicon-16x16.png') }}"
    type="image/x-icon">
    <script src="https://kit.fontawesome.com/c24c659ecb.js" crossorigin="anonymous"></script>
    <title> Prototype </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/recommender.css') }}">
    <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/recommender.js') }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-GTMP7F29PT');
</script>
    <script>console.log(json);
$("#show_filters").click(function(){
console.log(111);
  $(this).next("#filterbuttons").toggle();
});
</script>
{% endblock %}
</head>
<body>
{% block content %}
<header>
    <div id="header">
        <div id="home">
            <a href="#"><img src="{{ url_for('static', filename='images/favicons/favicon-32x32.png') }}"/></a>
        </div>
        <div id="title">
            <h2>Cultural Heritage Recommender</h2>
        </div>
        <div id="search">
          <form>
              <input type="text" placeholder="Search">
              <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
          </form>
        </div>
        <div id="filters">
            <button id="show_filters" onclick="$(this).next('#filterbuttons').toggle();"><i class="fa-solid fa-filter"></i></button>
            <div id="filterbuttons">
              <button class="btn active" onclick="$(this).toggleClass('active')">Image</button>
              <button class="btn" onclick="$(this).toggleClass('active')"> Author</button>
              <button class="btn" onclick="$(this).toggleClass('active')">Location</button>
              <button class="btn" onclick="$(this).toggleClass('active')">Type</button>
              <button class="btn" onclick="$(this).toggleClass('active')">Age</button>
              <button class="btn" onclick="$(this).toggleClass('active')">Color</button>
            </div>
        </div>
    </div>
</header>
<div id="content">
<div id="recommender">
    <div id="preview">
    </div>
    <div id="recommends">
    </div>
</div>
<div id="rating">
    <h3>Please, rate the recommendations</h3>
    <form id="rating-area-form">
        <div id="rating-area" class="rating-area">
            <input type="radio" id="star-5" name="rating" value="5">
            <label for="star-5" title="«5»"></label>
            <input type="radio" id="star-4" name="rating" value="4">
            <label for="star-4" title="«4»"></label>
            <input type="radio" id="star-3" name="rating" value="3">
            <label for="star-3" title="«3»"></label>
            <input type="radio" id="star-2" name="rating" value="2">
            <label for="star-2" title="«2»"></label>
            <input type="radio" id="star-1" name="rating" value="1">
            <label for="star-1" title="«1»"></label>
        </div>
    </form>
</div>
</div>
{% endblock content %}
</body>
<footer><img src="{{ url_for('static', filename='images/EU_made_with_logo_white.png') }}"/></footer>
</html>